.p-Home.Flex7 {
display: flex;
align-self: auto;
align-content: stretch;
justify-content: center;
padding-top: 30px;
padding-bottom: 30px;
}
.p-Home.Flex4 {
display: flex;
justify-content: space-between;
padding-left: ;
padding-right: ;
width: 80%;
align-self: auto;
}
.p-Home.Flex5 {
display: flex;
column-gap: 25px;
font-family: DM Sans;
color: #656161;
font-weight: 500;
font-size: 16px;
}
.p-Home.Flex6 {
display: flex;
justify-content: flex-start;
column-gap: 20px;
font-family: DM Sans;
color: #706b6b;
font-weight: normal;
}
.p-Home.Flex8 {
display: flex;
justify-content: space-between;
padding-top: 30px;
padding-bottom: 30px;
padding-left: 90px;
padding-right: ;
}
.p-Home.Div6 {
font-family: DM Sans;
padding-left: 30px;
background-position-x: ;
margin-right: ;
padding-right: 30px;
}
.p-Home.Flex11 {
display: flex;
}
.p-Home.Div8 {
align-self: flex-start;
font-size: 50px;
font-family: DM Sans;
font-weight: 700;
}
.p-Home.Div7 {
align-self: auto;
}
.p-Home.Flex12 {
display: flex;
justify-content: center;
align-items: center;
align-content: center;
align-self: center;
row-gap: ;
padding-bottom: 30px;
}
.p-Home.Div12 {
align-self: center;
display: block;
padding-top: 10px;
padding-bottom: ;
}
.p-Home.Flex13 {
display: flex;
column-gap: 40px;
position: static;
}
.p-Home.Flex14 {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
align-content: center;
column-gap: ;
padding-top: 20px;
padding-bottom: 20px;
padding-left: ;
padding-right: ;
text-align: center;
row-gap: 50px;
}
.p-Home.Div13 {
align-self: center;
text-align: center;
}
.p-Home.Flex15 {
display: flex;
justify-content: space-around;
column-gap: 30px;
width: ;
text-align: center;
}
.p-Home.Div17 {
width: 250px;
height: 400px;
border-radius: 15px;
border-color: #949494;
border-style: solid;
border-width: ;
align-self: center;
display: block;
overflow: visible;
background-position-y: ;
}
.p-Home.Flex16 {
display: flex;
align-content: stretch;
justify-content: center;
align-items: center;
flex-direction: column;
padding-top: 40px;
padding-right: 40px;
padding-left: 40px;
padding-bottom: 40px;
text-align: center;
row-gap: 20px;
}
.p-Home.Div21 {
width: 250px;
height: 400px;
border-radius: 15px;
border-color: #949494;
border-style: solid;
border-width: ;
align-self: center;
display: block;
overflow: visible;
background-position-y: ;
}
.p-Home.Flex17 {
display: flex;
align-content: stretch;
justify-content: center;
align-items: center;
flex-direction: column;
padding-top: 40px;
padding-right: 40px;
padding-left: 40px;
padding-bottom: 40px;
text-align: center;
row-gap: 20px;
}
.p-Home.Div22 {
width: 250px;
height: 400px;
border-radius: 15px;
border-color: #949494;
border-style: solid;
border-width: ;
align-self: center;
display: block;
overflow: visible;
background-position-y: ;
}
.p-Home.Flex18 {
display: flex;
align-content: stretch;
justify-content: center;
align-items: center;
flex-direction: column;
padding-top: 40px;
padding-right: 40px;
padding-left: 40px;
padding-bottom: 40px;
text-align: center;
row-gap: 20px;
}
.p-Home.Div23 {
width: 250px;
height: 400px;
border-radius: 15px;
border-color: #949494;
border-style: solid;
border-width: ;
align-self: center;
display: block;
overflow: visible;
background-position-y: ;
}
.p-Home.Flex19 {
display: flex;
align-content: stretch;
justify-content: center;
align-items: center;
flex-direction: column;
padding-top: 40px;
padding-right: 40px;
padding-left: 40px;
padding-bottom: 40px;
text-align: center;
row-gap: 20px;
}
.p-Home.Flex21 {
display: flex;
column-gap: 20px;
align-items: center;
justify-content: flex-start;
padding-top: 20px;
padding-bottom: 50px;
}
.p-Home.Div29 {
;
}
.p-Home.Div30 {
;
}
.p-Home.Flex22 {
display: flex;
background-color: #FFF9F3;
padding-top: 150px;
padding-bottom: 150px;
align-items: center;
box-sizing: border-box;
width: 100%;
}
.p-Home.Flex23 {
display: flex;
flex-direction: column;
padding-bottom: 200px;
align-items: center;
box-sizing: content-box;
width: 50%;
}
.p-Home.Flex26 {
display: flex;
column-gap: ;
background-color: #ffffff;
padding-left: 50px;
padding-right: 20px;
padding-top: 50px;
padding-bottom: 50px;
row-gap: 20px;
box-sizing: border-box;
font-family: DM Sans;
font-weight: 700;
top: 1px;
right: 300px;
flex-direction: column;
left: 120px;
bottom: 200px;
position: relative;
}
.p-Home.Flex24 {
display: flex;
align-items: flex-start;
padding-top: 100px;
width: 50%;
row-gap: 25px;
text-align: left;
flex-direction: column;
padding-left: 10px;
}
.p-Home.Flex25 {
display: flex;
column-gap: 30px;
}
.p-Home.Flex27 {
display: flex;
flex-direction: column;
justify-content: center;
align-content: center;
padding-top: 150px;
row-gap: 20px;
align-items: center;
column-gap: ;
}
.p-Home.Flex28 {
display: flex;
flex-direction: row;
row-gap: 30px;
column-gap: 25px;
}
.p-Home.Flex29 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 10px;
}
.p-Home.Flex30 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 10px;
}
.p-Home.Flex31 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 10px;
}
.p-Home.Flex32 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 10px;
}
.p-Home.Flex40 {
display: flex;
flex-direction: row;
row-gap: 30px;
column-gap: 25px;
}
.p-Home.Flex36 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 10px;
}
.p-Home.Flex37 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 10px;
}
.p-Home.Flex38 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 10px;
}
.p-Home.Flex39 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 10px;
}
.p-Home.Flex41 {
display: flex;
column-gap: 20px;
align-items: center;
justify-content: flex-start;
padding-top: 30px;
padding-bottom: 100px;
}
.p-Home.Div39 {
;
}
.p-Home.Div40 {
;
}
.p-Home.Flex42 {
display: flex;
}
.p-Home.Flex43 {
display: flex;
background-color: #FF7629;
align-items: flex-start;
flex-direction: column;
justify-content: center;
padding-top: 90px;
padding-bottom: 100px;
row-gap: 33px;
padding-left: 150px;
box-sizing: border-box;
}
.p-Home.Flex45 {
display: flex;
}
.p-Home.Flex44 {
display: flex;
}
.p-Home.Flex46 {
display: flex;
flex-direction: column;
align-items: center;
padding-top: 150px;
padding-bottom: 150px;
row-gap: 20px;
}
.p-Home.Flex47 {
display: flex;
}
.p-Home.Div41 {
;
}
.p-Home.Flex52 {
display: flex;
}
.p-Home.TextBox7 {
font-size: 16px;
font-family: DM Sans;
font-weight: 700;
}
.p-Home.TextBox8 {
font-family: DM Sans;
font-size: 16px;
font-weight: 700;
}
.p-Home.TextBox9 {
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.TextBox10 {
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.TextBox11 {
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.Image6 {
width: 100px;
height: 25px;
}
.p-Home.Button3 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 700;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #656161;
cursor: pointer;
user-select: none;
margin-left: 20px;
margin-right: 20px;
position: static;
background-attachment: fixed;
line-height: 5px;
box-sizing: content-box;
overflow: visible;
width: 100px;
font-family: DM Sans;
}
.p-Home.Button4 {
color: #fff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 700;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #ff8218;
cursor: pointer;
user-select: none;
word-wrap: normal;
overflow: visible;
box-sizing: border-box;
width: 120px;
font-family: DM Sans;
}
.p-Home.TextBox18 {
width: 600px;
color: #656161;
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
text-align: left;
padding-top: 20px;
padding-bottom: 20px;
}
.p-Home.Button9 {
color: #fff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 700;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #ff8218;
cursor: pointer;
user-select: none;
word-wrap: normal;
overflow: visible;
box-sizing: border-box;
width: 120px;
font-family: Roboto;
}
.p-Home.Button10 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 700;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #656161;
cursor: pointer;
user-select: none;
margin-left: 20px;
margin-right: 20px;
position: static;
background-attachment: fixed;
line-height: 5px;
box-sizing: content-box;
overflow: visible;
width: 100px;
font-family: Roboto;
}
.p-Home.TextBox16 {
width: ;
box-sizing: content-box;
border-width: ;
font-family: DM Sans;
}
.p-Home.TextBox17 {
color: #FF7629;
font-family: DM Sans;
}
.p-Home.Image7 {
width: 400px;
height: 400px;
border-radius: 30px;
position: absolute;
left: 800px;
top: 190px;
}
.p-Home.Div9 {
background-color: #FF7629;
outline-color: transparent;
outline-style: inset;
border-style: none;
outline-width: 0px;
visibility: visible;
overflow: visible;
width: 500px;
height: 500px;
position: relative;
}
.p-Home.TextBox19 {
align-self: auto;
font-family: DM Sans;
font-weight: 700;
color: #000000;
font-size: 20px;
padding-bottom: 30px;
margin-bottom: ;
background-origin: content-box;
background-attachment: fixed;
background-position-y: ;
padding-left: 250px;
padding-top: 30px;
}
.p-Home.Image8 {
width: 200px;
}
.p-Home.Image9 {
width: 100px;
}
.p-Home.Image10 {
width: 200px;
height: ;
}
.p-Home.Image11 {
width: 150px;
}
.p-Home.TextBox20 {
font-family: DM Sans;
font-weight: 700;
font-size: 20px;
text-align: center;
align-self: auto;
padding-left: ;
}
.p-Home.Image13 {
align-self: auto;
width: 150px;
text-align: center;
padding-left: ;
}
.p-Home.TextBox24 {
font-family: DM Sans;
font-weight: 700;
font-size: 20px;
}
.p-Home.TextBox25 {
align-self: auto;
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #7e7575;
}
.p-Home.TextBox26 {
color: #FF7629;
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.TextBox27 {
color: #FF7629;
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.TextBox28 {
align-self: auto;
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #7e7575;
}
.p-Home.TextBox29 {
font-family: DM Sans;
font-weight: 700;
font-size: 20px;
}
.p-Home.Image14 {
align-self: auto;
width: 150px;
text-align: center;
padding-left: ;
}
.p-Home.TextBox30 {
color: #FF7629;
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.TextBox31 {
align-self: auto;
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #7e7575;
}
.p-Home.TextBox32 {
font-family: DM Sans;
font-weight: 700;
font-size: 20px;
}
.p-Home.Image15 {
align-self: auto;
width: 150px;
text-align: center;
padding-left: ;
}
.p-Home.TextBox33 {
color: #FF7629;
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.TextBox34 {
align-self: auto;
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #7e7575;
}
.p-Home.TextBox35 {
font-family: DM Sans;
font-weight: 700;
font-size: 20px;
}
.p-Home.Image16 {
align-self: auto;
width: 150px;
text-align: center;
padding-left: ;
}
.p-Home.Button14 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 700;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #656161;
cursor: pointer;
user-select: none;
margin-left: 20px;
margin-right: 20px;
position: static;
background-attachment: fixed;
line-height: 5px;
box-sizing: content-box;
overflow: visible;
width: 90px;
font-family: Roboto;
height: 15px;
}
.p-Home.Button13 {
color: #fff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 700;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #ff8218;
cursor: pointer;
user-select: none;
word-wrap: normal;
overflow: visible;
box-sizing: border-box;
width: 150px;
font-family: Roboto;
}
.p-Home.Image18 {
width: 460px;
border-radius: 30px;
}
.p-Home.TextBox40 {
font-size: 20px;
font-family: DM Sans;
font-weight: 700;
}
.p-Home.TextBox41 {
font-family: DM Sans;
font-weight: 500;
color: #897f7f;
}
.p-Home.TextBox38 {
font-family: DM Sans;
font-weight: 500;
width: 80%;
color: #8d8d8d;
}
.p-Home.TextBox39 {
font-family: DM Sans;
font-size: 32px;
font-weight: 700;
}
.p-Home.Button18 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 700;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #656161;
cursor: pointer;
user-select: none;
margin-left: 20px;
margin-right: 20px;
position: static;
background-attachment: fixed;
line-height: 5px;
box-sizing: content-box;
overflow: visible;
width: 90px;
font-family: Roboto;
height: 15px;
}
.p-Home.Button19 {
color: #fff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 700;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #ff8218;
cursor: pointer;
user-select: none;
word-wrap: normal;
overflow: visible;
box-sizing: border-box;
width: 150px;
font-family: Roboto;
}
.p-Home.TextBox42 {
font-family: DM Sans;
font-size: 20px;
font-weight: 700;
text-align: center;
}
.p-Home.TextBox43 {
width: 50%;
font-family: DM Sans;
font-weight: 500;
color: #8a8a8a;
text-align: center;
align-self: center;
font-size: 16px;
}
.p-Home.Image19 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.TextBox44 {
align-self: center;
text-align: center;
font-size: 16px;
font-family: DM Sans;
font-weight: 400;
width: 250px;
height: 50px;
background-color: ;
color: #848484;
}
.p-Home.TextBox45 {
font-size: 24px;
font-family: DM Sans;
font-weight: 700;
}
.p-Home.TextBox46 {
font-size: 24px;
font-family: DM Sans;
font-weight: 700;
}
.p-Home.TextBox47 {
align-self: center;
text-align: center;
font-size: 16px;
font-family: DM Sans;
font-weight: 400;
width: 250px;
height: 50px;
background-color: ;
color: #848484;
}
.p-Home.Image20 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.TextBox48 {
font-size: 24px;
font-family: DM Sans;
font-weight: 700;
}
.p-Home.TextBox49 {
align-self: center;
text-align: center;
font-size: 16px;
font-family: DM Sans;
font-weight: 400;
width: 250px;
height: 50px;
background-color: ;
color: #848484;
}
.p-Home.Image21 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.TextBox50 {
font-size: 24px;
font-family: DM Sans;
font-weight: 700;
}
.p-Home.TextBox51 {
align-self: center;
text-align: center;
font-size: 16px;
font-family: DM Sans;
font-weight: 400;
width: 250px;
height: 50px;
background-color: ;
color: #848484;
}
.p-Home.Image22 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.Image26 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.TextBox58 {
align-self: center;
text-align: center;
font-size: 16px;
font-family: DM Sans;
font-weight: 400;
width: 250px;
height: 50px;
background-color: ;
color: #848484;
}
.p-Home.TextBox59 {
font-size: 24px;
font-family: DM Sans;
font-weight: 700;
}
.p-Home.Image27 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.TextBox60 {
align-self: center;
text-align: center;
font-size: 16px;
font-family: DM Sans;
font-weight: 400;
width: 250px;
height: 50px;
background-color: ;
color: #848484;
}
.p-Home.TextBox61 {
font-size: 24px;
font-family: DM Sans;
font-weight: 700;
}
.p-Home.Image28 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.TextBox62 {
align-self: center;
text-align: center;
font-size: 16px;
font-family: DM Sans;
font-weight: 400;
width: 250px;
height: 50px;
background-color: ;
color: #848484;
}
.p-Home.TextBox63 {
font-size: 24px;
font-family: DM Sans;
font-weight: 700;
}
.p-Home.TextBox64 {
font-size: 24px;
font-family: DM Sans;
font-weight: 700;
}
.p-Home.TextBox65 {
align-self: center;
text-align: center;
font-size: 16px;
font-family: DM Sans;
font-weight: 400;
width: 250px;
height: 50px;
background-color: ;
color: #848484;
}
.p-Home.Image29 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.Button22 {
color: #fff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 700;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #ff8218;
cursor: pointer;
user-select: none;
word-wrap: normal;
overflow: visible;
box-sizing: border-box;
width: 150px;
font-family: Roboto;
}
.p-Home.Button23 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 700;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #656161;
cursor: pointer;
user-select: none;
margin-left: 20px;
margin-right: 20px;
position: static;
background-attachment: fixed;
line-height: 5px;
box-sizing: content-box;
overflow: visible;
width: 90px;
font-family: Roboto;
height: 15px;
}
.p-Home.TextBox66 {
width: 80%;
font-family: DM Sans;
font-size: 16px;
font-weight: 500;
color: #ffffff;
}
.p-Home.TextBox68 {
width: 80%;
color: #ffffff;
font-family: DM Sans;
font-size: 38px;
font-weight: 700;
}
.p-Home.Button24 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 700;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #ff8218;
cursor: pointer;
user-select: none;
word-wrap: normal;
overflow: visible;
box-sizing: border-box;
width: 150px;
font-family: Roboto;
}
.p-Home.Button26 {
color: #ffffff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 700;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ffffff;
cursor: pointer;
user-select: none;
margin-left: 20px;
margin-right: 20px;
position: static;
background-attachment: fixed;
line-height: 5px;
box-sizing: content-box;
overflow: visible;
width: 90px;
font-family: Roboto;
height: 15px;
}
.p-Home.Image30 {
width: 100%;
}
.p-Home.TextBox70 {
font-size: 32px;
font-family: DM Sans;
font-weight: 700;
}
.p-Home.TextBox71 {
width: 50%;
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
text-align: center;
color: #727272;
}
.p-Home.Flex51 {
display: flex;
flex-direction: column;
padding-bottom: 40px;
width: 50%;
padding-top: 50px;
padding-left: 50px;
padding-right: 50px;
row-gap: 10px;
box-sizing: border-box;
border-color: #d5d5d5;
border-style: solid;
}
.p-Home.TextBox69 {
;
}
.p-Home.Button27 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 700;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #000000;
cursor: pointer;
user-select: none;
margin-left: 20px;
margin-right: 20px;
position: static;
background-attachment: fixed;
line-height: 5px;
box-sizing: content-box;
overflow: visible;
width: 90px;
font-family: Roboto;
height: 15px;
}
.p-Home.Button28 {
color: #ffffff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 700;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #ff8218;
cursor: pointer;
user-select: none;
word-wrap: normal;
overflow: visible;
box-sizing: border-box;
width: 150px;
font-family: Roboto;
}
